*.user
*.sdf
*.suo
*.swp
*.opensdf
*.DS_Store
*.sublime-project
*.sublime-workspace
cmake_install.cmake
CMakeCache.txt
Makefile
bin/
ipch/
CMakeFiles/
Debug/
Release/
DerivedData/
project.xcworkspace/
xcuserdata/
